// 🎨 Color


// NEWS FEED
$cnn: #cc0000;
$fox: rgba(#003366, 0.99);
$rt: #76bd1d;
$bloomberg: #000;
$drudgereport: #000;
$infowars: #194e8e;
$nytimes: #000;
$politico: #dc0228;
$zerohedge: #000000;
$theonion: #006b3a;
$breitbart: #ff550f;


// COLORS
$black-0: #000;
$black-10: #202020;
$white: #FFFFFF;

// BREAKPOINTS
$desktop: 70rem; // 42rem
$large-desktop: 72rem;



// TRANSITIONS
$timing: 0.25s;
$bezier: cubic-bezier(0.215, 0.61, 0.355, 1);


// READER
$news-feed-padding: 0 4%;
