// NEWS FEED

$cnn: #cc0000;
$fox: rgba(#003366, 0.99);
$rt: #76bd1d;
$bloomberg: #000;
$drudgereport: #000;
$infowars: #194e8e;
$nytimes: #000;
$politico: #dc0228;
$zerohedge: #000;
$theonion: #006b3a;
$breitbart: #ff550f;


// LINKS

$black-0: #000;
$black-10: #202020;

// BREAKPOINTS

$desktop: 65rem; // 42rem
$large-desktop: 72rem;



// NEWS FEED
