<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{{> head}}
<body>
{{> ticker}}
{{{body}}}
</body>

<script src="https://cdn.jsdelivr.net/npm/node-marquee/dist/cdn/index.min.js"></script>

<script type="module" src="app.js"></script>
<html>
