@import '../config/variables';

// <article class="news-page">
//   <section class="news-page__news-section">
//     <section class="news-page__news-feeds">
//       <article id="cnn" class="news-page__news-feed news-feed">



.news-page {
  width: 100vw;

  &__news-section {

  }

  &__news-feeds {
    display: grid;
    grid-template-columns: 1fr;

    max-width: 100%;

    @media (min-width: $desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__news-feed {

  }
}
