@import '../config/variables';
@import '../config/mixins';

// <article class="news-page">
//   <section class="news-page__news-section">
//     <section class="news-page__news-feeds">
//       <article id="cnn" class="news-page__news-feed news-feed">
//         <header class="news-feed__header">
//           <h1>CNN</h1>
//         </header>
//         <a href="#" class="news-feed__hero">
//           <img src="https://a57.foxnews.com/hp.foxnews.com/images/2020/03/1280/533/3d0342ce5aea6319fc0ea4d45d8e82e6.jpg?tl=1&ve=1" alt="Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in">
//         </a>
//         <section class="news-feed__headline">
//           <a href="#">
//             <h2>Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in</h2>
//           </a>
//         </section>
//         <ul class="news-feed__stories-section">
//           <li class="news-feed__story">
//             <a href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
//               <h3>
//                 Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
//               </h3>
//             </a>
//           </li>

.news-feed {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "header" "hero" "headline" "stories";
  max-height: auto;

  height: auto;

  @media (min-width: $desktop) {
    height: 100vh;
  }

  $news-feed-padding: 0 2%;

  &__header {
    display: grid;
    justify-content: center;
  }

  &__hero {

    @media (min-width: $desktop) {
      // height: 100vh;
    }

    img {
      max-width: 100%;
      height: auto;

      display: block;
      position: relative;
      float: left;
      width: 100%;
      max-height: 250px;
      padding-bottom: 56.25%;
      margin: 0 0 1rem 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-width: $desktop) {
        height: 350px;
      }

    }
  }

  &__headline {
    padding: $news-feed-padding;
  }

  &__stories-section {
    max-height: 100%;
    padding: $news-feed-padding;

    list-style: none;

    @media (min-width: $desktop) {
      overflow-y: scroll;
    }
  }

  &__stories-story {

    a {
      text-decoration: none;
    }
  }
}

#cnn {
  @include news-brand($cnn, $white)
}

#fox {
  @include news-brand($fox, $white)
}

#rt {
  @include news-brand($rt, $black-0)
}
