@import '../config/variables';
@import '../config/mixins';

// <header class="news-header">
//   <section class="news-ticker">
//     <ul class="news-ticker__container">
//       <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Appeals Court: Trump Can Withhold Funding from Sanctuary Cities&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coronavirus pandemic spreads around the globe -->
//       <li class="news-ticker__story-wrapper">
//         <a class="news-ticker__story-link" href="#">Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in</a>
//       </li>
//       ...
//     </ul>
//   </section>
// </header>


.news-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0rem;

  background-color: black;
  color: white;

  z-index: 100;
}


.news-ticker {
  display: flex;
  align-content: center;

  width: 100%;

  padding: 1% 0;

  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 600;

  @include desktop {
    width: 97%;
    padding: .5% 0;
  }

  &__container {
    @include font-size(26,20);
    text-transform: uppercase;
  }
}
