@import '../config/variables';
@import '../config/mixins';


// <main>
//   <article class="news-page">
//     <section class="news-page__news-section">
//       <section class="news-page__news-feeds">
//         <article id="cnn" class="news-page__news-feed news-feed">
//           <header class="news-feed__header">
//             <h1>CNN</h1>
//           </header>
//           <a href="#" class="news-feed__hero">
//             <img src="https://a57.foxnews.com/hp.foxnews.com/images/2020/03/1280/533/3d0342ce5aea6319fc0ea4d45d8e82e6.jpg?tl=1&ve=1" alt="Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in">
//           </a>
//           <section class="news-feed__headline">
//             <a href="#">
//               <h2>Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in</h2>
//             </a>
//           </section>
//           <ul class="news-feed__stories-section">
//             <li class="news-feed__story">
//               <a href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
//                 <h3>
//                   Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
//                 </h3>
//               </a>
//             </li>
//           </article>
//         </section>
//       </section>
//       <section class="news-page__news-video">
//         <iframe src='https://www.youtube.com/embed/hzXH0sD68bc?rel=0&autoplay=1' allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder='0' allowfullscreen></iframe>
//       </section>
//     </section>
//   </section>
// </article>




.news-page {
  width: 100vw;

  &__news-section {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "news-feeds" "news-video";

    @media (min-width: $desktop) {
      grid-template-rows: 1fr 1fr;
    }
  }

  &__news-feeds {
    grid-area: news-feeds;
    display: grid;
    grid-template-columns: 1fr;

    max-width: 100%;

    @media (min-width: $desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__news-feed {

  }

  &__news-video {
    grid-area: news-video;

    width: 100vw;

    @media (min-width: $desktop) {
      height: 100vh;
    }
  }

  &__news-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    @media (min-width: $desktop) {
      height: 100vh;
      padding-bottom: 0;
    }
  }

  &__news-video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


}
