@import '../config/variables';
@import '../config/mixins';

.page {
  display: grid;
  grid-template-rows: 6vh auto;
  grid-template-areas: "ticker" "main";

  &__header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'ticker';

    align-items: center;

    position: sticky;
    position: -webkit-sticky;
    top: 0rem;

    background-color: black;
    color: white;

    z-index: 100;
    overflow: hidden;

    @include desktop {
      grid-template-columns: 97% auto;
      grid-template-areas: 'ticker nav';
    }
  }

  &__main {
    grid-area: main;
  }
}
