@import '../config/variables';
@import '../config/mixins';

// <header class="page__header">
//   <article class="ticker">
//     <section class="ticker__feed">
//     </section>
//   </article>
// </header>
// <main class="page__main" data-barba="container" data-barba-namespace="tv">
//   <section class="tv">
//     <section class="tv__video-wrapper">
//       <iframe class="tv__video-iframe" src="https://www.youtube-nocookie.com/embed/Gm3bQVANtVo?controls=0&rel=0&autoplay=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
//     </section>
//   </section>
// </main>


.tv {
  background: $black-0;

  &__video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;

    overflow: hidden;

    @media (min-width: $desktop) {
      height: 94vh;
      padding-bottom: 0;
    }
  }

  &__video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-mobile {
    display: block;
    @media (min-width: $desktop) {
      display: none;
    }
  }

}
