<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="Compare news headlines and watch nature live feeds">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">

  <title>Fakenews Webcams</title>

    <!-- <link rel="preload" href="Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="Inter-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="Inter-Light.woff2" as="font" type="font/woff2" crossorigin> -->

    <link rel="preload" href="HelveticaNeue-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="HelveticaNeue-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="HelveticaNeue-Bold.woff2" as="font" type="font/woff2" crossorigin>



    <link rel="stylesheet" href="styles.css">


    <style>

      /* @font-face {
        font-family: "Inter";
        src: url('Inter-Light.woff2') format('woff2'), url('Inter-Light.woff') format('woff');
        font-display: swap;
        font-weight: 300;
      }

      @font-face {
        font-family: "Inter";
        src: url('Inter-Regular.woff2') format('woff2'), url('Inter-Regular.woff') format('woff');
        font-display: swap;
        font-weight: 400;
      }

      @font-face {
        font-family: "Inter";
        src: url('Inter-Medium.woff2') format('woff2'), url('Inter-Medium.woff') format('woff');
        font-display: swap;
        font-weight: 500;
      } */

      @font-face {
        font-family: "Helvetica-Neue";
        src: url('HelveticaNeue-Regular.woff2') format('woff2'), url('HelveticaNeue-Regular.woff') format('woff');
        font-display: swap;
        font-weight: 400;
      }

      @font-face {
        font-family: "Helvetica-Neue";
        src: url('HelveticaNeue-Medium.woff2') format('woff2'), url('HelveticaNeue-Medium.woff') format('woff');
        font-display: swap;
        font-weight: 500;
      }

      @font-face {
        font-family: "Helvetica-Neue";
        src: url('HelveticaNeue-Bold.woff2') format('woff2'), url('HelveticaNeue-Bold.woff') format('woff');
        font-display: swap;
        font-weight: 600;
      }
  </style>
</head>
