<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="Compare news headlines and watch nature live feeds">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">

  <title>akenews Webcams</title>

  <link rel="preload" href="HelveticaNeue-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="HelveticaNeue-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="HelveticaNeue-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="styles.css">

  <style>


    @font-face {
      font-family: "Helvetica-Neue";
      src: url('HelveticaNeue-Regular.woff2') format('woff2'), url('HelveticaNeue-Regular.woff') format('woff');
      font-display: swap;
      font-weight: 400;
    }

    @font-face {
      font-family: "Helvetica-Neue";
      src: url('HelveticaNeue-Medium.woff2') format('woff2'), url('HelveticaNeue-Medium.woff') format('woff');
      font-display: swap;
      font-weight: 500;
    }

    @font-face {
      font-family: "Helvetica-Neue";
      src: url('HelveticaNeue-Bold.woff2') format('woff2'), url('HelveticaNeue-Bold.woff') format('woff');
      font-display: swap;
      font-weight: 600;
    }
</style>
</head>
