<header class="page__header">
  <article class="ticker">
    <section class="ticker__feed">
      <!-- {{#each ticker}}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{this.headline}}
      {{/each}} -->
    </section>
  </article>
</header>
