<header class="page__header">
  <article class="ticker">
    <section class="ticker__feed">
    </section>
  </article>
  <nav class="navigation">
    <section class="navigation__wrapper">
      <a href="/">R</a>
      <a href="/tv">T</a>
    </section>
  </nav>
</header>
