<header class="page__header">
  <article class="ticker">
    <section class="ticker__feed">
    </section>
  </article>
  <nav class="navigation">
    <section class="navigation__wrapper">
      <a class="navigation__link" href="/">
        <!-- <svg class="navigation__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.8 10.8">
          <circle cx="2.73" cy="2.73" r="2.73" style="fill: #fff"/>
        </svg> -->
        <div class="navigation__button">

        </div>
      </a>
    </section>
  </nav>
</header>
