<header class="page__header">
  <article class="ticker">
    <section class="ticker__feed">
    </section>
  </article>
  <nav class="navigation">
    <section class="navigation__wrapper">
      <a class="navigation__link" href="/">
        <div class="navigation__button"></div>
      </a>
    </section>
  </nav>
</header>
